body {
  margin: 0;
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  overflow: scroll;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

form {
  display: flex;
  /* everything will come next to each other */
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

#search-input {
  width: 60%;
  max-width: 400px;
  padding: 10px 15px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  border-radius: 5px;
  font-size: 18px;
  color: #333;
}

#search-button {
  padding: 10px 15px;
  background-color: blue;
  border: none;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  margin-left: 3px;
  cursor: pointer;
  transition: background-color .3s ease-in-out
}

#search-button:hover {
  background-color: darkblue;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  /* set margin to bring images to center */
  padding: 20px;
}

.search-result {
  margin-bottom: 60px;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  overflow: hidden;
  /* to make the box-shadow is visible because the image is too big */
}

.search-result:hover img {
  transform: scale(1.1);
  /* it will make the image room in */
}

.search-result img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* to make the image not broken */
  transition: transform .3s ease-in-out;
}

.search-result a {
  padding: 10px;
  display: block;
  color: #333;
  text-decoration: none;
  transform: background-color .3s ease-in-out;
}

.search-result:hover a {
  background-color: rgba(0, 0, 0, .1);
}

#show-more-button {
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  display: block;
  margin: 30px auto;
  color: white;
  cursor: pointer;
  transform: background-color .3s ease-in-out;
  display: none;
}

#show-more-button:hover {
  background-color: darkgreen;
}

@media screen and (max-width: 768px) {
  .search-result {
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .search-result {
    width: 100%;
  }

  form {
    flex-direction: column;

  }

  #search-input {
    margin-bottom: 20px;
    width: 80%;
  }
}